@import "./resets";
@import "./queries";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap");

body {
    width: 100vw;
    height: auto;
    font-family: "Playfair Display", serif;
    background: #eef3f9;
    border: red solid 5px;

    header,
    main {
        margin: 0;
    }
    header {
        nav {
            #toggle {
                display: none;
            }
        }
    }
}
